@import '../../../shared/variables.scss';

.Background {
    width: 100vw;
    position: fixed;
    height: 100vh;
    // display: flex;
    z-index: -10;
    // padding-top: $spacer_top;
    background: $color-1;

    @include bp(1024){
        background-image: url('./assets/bg_texture_m.png');
    }

    &__wrapper{
        width: 100%;
        height: 100%;
        display: flex;

        &--2{
            height: 110%;
        }
    }

    &__section{
        flex: 1;
        overflow: hidden;
        &--1{
            @include bp(1024){
                display: none;
            }
        }
        &--2{
            display: flex;
            justify-content: flex-end;
            position: relative;
        }
        &--4{
            $space-up: 3.1rem;
            // $space-up-neg: calc(#{-1} * #{$space-up});
            background-color: $color-3;
            // transform: translateY($space-up-neg);
            height: calc(#{100%} + #{$space-up});
            @include bp(1024){
                display: none;
            }
        }
    }

    &__img{
        &--1{
            bottom: 0;
            width: 50vw;
            height: 62vh;
            background-repeat: no-repeat;
            position: absolute;
            background-size: cover;
            background-image: url('./assets/bg_left_d.png');
            // bottom: 0;
            // width: 50vw;
            // height: 62vh;
            // background-image: url('./assets/bg_left_d.png');
            // background-repeat: no-repeat;
            // position: absolute;
            // background-size: cover;
        }
        &--2{
            width: 65rem;
            background-position: right 0;
            height: 65rem;
            background-image: url('./assets/bg_right_d.png');
            background-repeat: no-repeat;
            position: absolute;
            &-1{
                background-image: url('./assets/landing-texture.png');
                opacity: .36;
                width: 50vw;
            }

            @include bp(1024){
            
                // background-image: url('./assets/bg_left_d.png');
                background-image: url('./assets/bg_full_m.png');
            }
        }
        &--3{
            // background-image: url('./assets/bg_texture_m.png');
            // width: 65rem;
            // // background-position: left 0;
            // height: 65rem;
            width: 50vw;
            background-position: right 0;
            height: 65rem;
            // background-image: url('./assets/bg_right_d.png');
            background-repeat: no-repeat;
            position: absolute;
            background-image: url('./assets/landing-texture.png');
            opacity: .36;
        } 
    }    
}