@import '../../../shared/variables.scss';

.Buttons {
    display: flex;    
    cursor: pointer;
    margin-bottom: 0.75rem;
    margin-top: 1.1rem;
    flex-direction: column;

    // @include bp(1440){
    //     margin-top: 1.5rem;
    // }
    // @include bp(1200){
    //     margin-top: 1.4rem;
    // }
    align-items: center;
    position: relative;

    @include bp(1024){
        margin-bottom: 3.75rem;
        margin-top: 3rem;
    }

    .Results__spider--wrapper &{
        @include bp(1024){
            margin-bottom: 0;
        }   
    }
    .Results__points &{
        @include bp(1024){
            margin-bottom: 7.65rem;

        }
        @include bp(768){
            margin-bottom: 9.9rem;
        }
    }
}