@import '../../shared/variables.scss';

.Role{
    &__select{
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: 95%;
        width: 14.85rem;
        height: 2.45rem;
        // padding: 0.8rem 1.6rem;
        padding-left: 0.9rem;
        box-sizing: border-box;
        border-radius: 0.2rem;
        border: solid 0.05rem #fff;
        background-color: transparent;
        font-family: $font-b;
        font-size: 0.9rem;
        // font-weight: 600;
        font-stretch: normal;
        background-image: url('./assets/chevy_1.svg');
        font-style: normal;
        line-height: 1.16;
        letter-spacing: normal;
        text-align: left;
        color: #fff;   
        position: relative;
        cursor: pointer;
        padding-right: 2.15rem;
        text-overflow: ellipsis;
        // padding-right: 3rem;
        margin-top: 2.9rem;
        @include bp(768){
            margin-top: 1.8rem;
            // width: 100%;
        }
        // @inlcud
        @include bp(550){
            width: 100%;
            padding-right: 3.25rem;
        }

        & > * {
            // height: 16px;
            // margin: 2px 8px 2px 0;
            font-family: $font-reg;
            font-size: 0.69rem;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.16;
            letter-spacing: normal;
            text-align: center;
            color: $color-3;          
        }
        // }

        & option{
            background-color: $color-1;
            color: #fff;
        
            &:hover {
                cursor: pointer;
            }
        }
    }
}
